.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: left;
}
/*.content{*/
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    /*border-bottom: 1px solid #CFCFD6;*/
    /*border-left: 1px solid #CFCFD6;*/
    /*margin-left: 0px !important;*/
    /*padding: 0 15px;*/
    /*position: relative;*/
    /*padding-bottom: 25px !important;*/
/*}*/
#dashboard-content{
    margin: 20px 0 20px 20px;
}
#dashboard-content table tr td{
    padding-right: 50px;
    padding-top: 15px;
}
.row{
    /*min-height: 400px !important;*/
}
.error{
    color: red;
}
.bold{
    font-weight: bold;
}

.login-box-body {
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(136,136,136,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(136,136,136,1);
    box-shadow: 5px 5px 5px 0px rgba(136,136,136,1);
}

.login-logo a b{
    text-shadow: 2px 2px #888888;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
    color: #fff !important;
    padding: 1px 10px !important;
}

.topheadertext{
    padding-left: 30px;
}


.weekend {
    background: lightgoldenrodyellow !important;
    color: white;
}

.gantt_selected .weekend {
    background: lightgoldenrodyellow !important;
}

.controls_bar {
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    clear: both;
    margin-top: 90px;
    height: 28px;
    background: #f1f1f1;
    color: #494949;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    line-height: 25px
}
.status_line{
    background-color: #0ca30a;
}
.line1{
    background-color: palevioletred;
}
.line2{
    background-color: lightseagreen;
}
.line3{
    background-color: grey;
}
.line4{
    background: lightsalmon;
}
.line5{
    background-color: #00a7d0;
}
.line6{
    background-color: mediumslateblue;
}
.line7{
    background-color: darkcyan;
}
.line8{
    background-color: violet;
}

.boxes{
    width:10px;height:10px;
    padding: 5px 5px 8px 5px;
    color: gainsboro;
    border: 3px solid #ffffff;
    margin: 2px;
}


.lineblue{

    color:mediumslateblue;
}
.topbox{
    padding: 10px;
    border: 1px solid #e0e0e0;
}
.padleft{
    padding-left: 10px;
}

.verticaltableheader{
    text-align: center;
    margin: 20px;
}